*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* --------------------------------------------------------------------------------- */

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  background: url('Images/fon3.jpg') center fixed;
  background-size: cover;
}

html {
  height: 100%;
}

a {
  color: #ee6307;
  font-weight: bold;
  font-size: 17px;
}

a:hover {
  color: whitesmoke;
}

h1 {
  margin: 40px 0 65px 20px;
}

h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: #0a21f2;
}

#but {
  width: 220px;
  height: 40px;
  font-size: 17px;
  background-color: #d6d4ce;
  font-weight: bold;
}

.button__wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
}

#but:hover {
  background-color: #e6762b;
}

select,
#dat,
option {
  height: 25px;
  font-weight: bold;
  width: 250px;
}

.fishes-description {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 80%;
  background-color: whitesmoke;
  padding: 1% 1%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.image {
  display: inline-block;
  width: 30%;
  margin: 15px 0;
}

.details {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
}

.name,
.description {
  color: #000000;
  text-align: justify;
}

.description {
  width: 100%;
  font-size: 20px;
  overflow: auto;
}

/* ------------------------------------------------------------------------------------ */

:root {
  --content-width: 1200px;
  --tablet-width: 768px;
  --mobile-width: 380px;
}
#but,
.sidebar-menu,
.sidebar-menu__overlay,
.sidebar-menu__content,
.header,
.header__navigation .navigation__link,
.logo {
  transition: all 0.4s ease-out;
}

.wrapper {
  max-width: var(--content-width);
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header__navigation .navigation {
  display: flex;
}
.header__navigation .navigation__link {
  margin-right: 50px;
  cursor: pointer;
}
.header__navigation .navigation__link:hover {
  color: #ffffff;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header_scrolled {
  height: 80px;
  background-color: #585881;
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.logo__image {
  border-radius: 8px;
  width: 40px;
  margin-right: 6px;
}

.hamburger__line,
.hamburger::after,
.hamburger::before {
  content: '';
  display: inline-block;
  position: absolute;
  background: white;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
  margin-right: 37px;
}

.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.sidebar-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
}
.sidebar-menu__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.sidebar-menu__content {
  position: absolute;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background-color: #585881;
  padding: 30px 20px;
  overflow-y: auto;
}

.sidebar-menu__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
}
.sidebar-menu__close-btn-image {
  width: 100%;
  height: 100%;
  filter: invert(1);
}
.sidebar-menu__navigation {
  margin-top: 60px;
}
.sidebar-menu__navigation .navigation {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar-menu__link {
  font-size: 20px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  > * {
    color: #cee1e7;
  }
}
.sidebar-menu_open {
  visibility: visible;
}
.sidebar-menu_open .sidebar-menu__overlay {
  opacity: 1;
}
.sidebar-menu_open .sidebar-menu__content {
  right: 0;
}

.option {
  display: inline-flex;
  flex-direction: column;
}

.options__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.fishes-description__close-button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-button__wrapper {
  display: flex;
  justify-content: end;
}

.about-title,
.contact-title {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .header__wrapper {
    width: 90%;
  }
  .header__navigation {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .options__wrapper {
    margin-top: 20%;
    flex-direction: column;
    width: 40%;
    align-items: center;
    text-align: center;
  }

  .options__option {
    margin-bottom: 22px;
  }

  .options__input {
    width: 90%;
  }

  .button__wrapper {
    margin-bottom: 50px;
  }

  .fishes-description {
    width: 90%;
  }

  .image {
    width: 50%;
  }
}

@media (max-width: 380px) {
  .sidebar-menu__content {
    width: 100%;
  }

  .options__wrapper {
    width: 90%;
  }

  .options__input {
    width: 80%;
  }

  .header__line {
    width: 100%;
  }

  .options__wrapper {
    margin-top: 100px;
  }
}

main {
  flex: 1;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  color: #2929c9;
  font-size: 15px;
}
